{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMDB</title>
    <!-- Link Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <figure class="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="Logo"></a></figure>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a>Genres</a>
                    <ul>
                        <li><a href="{% url 'genre category' 'A' %}">Action</a></li>
                        <li><a href="{% url 'genre category' 'C' %}">Comedy</a></li>
                        <li><a href="{% url 'genre category' 'D' %}">Drama</a></li>
                        <li><a href="{% url 'genre category' 'R' %}">Romance</a></li>
                    </ul>
                </li>
                <li><a>Year</a>
                    <ul>
                        <li><a href="{% url 'year' year=2020 %}">2020</a></li>
                        <li><a href="{% url 'year' year=2019 %}">2019</a></li>
                        <li><a href="{% url 'year' year=2018 %}">2018</a></li>
                        <li><a href="{% url 'year' year=2017 %}">2017</a></li>
                        <li><a href="{% url 'year' year=2016 %}">2016</a></li>
                        <li><a href="{% url 'year' year=2015 %}">2015</a></li>
                        <li><a href="{% url 'year' year=2014 %}">2014</a></li>
                        <li><a href="{% url 'year' year=2013 %}">2013</a></li>
                        <li><a href="{% url 'year' year=2012 %}">2012</a></li>
                        <li><a href="{% url 'year' year=2011 %}">2011</a></li>
                        <li><a href="{% url 'year' year=2010 %}">2010</a></li>
                        <li><a href="{% url 'year' year=2009 %}">2009</a></li>
                        <li><a href="{% url 'year' year=2008 %}">2008</a></li>
                    </ul>
                </li>
                <li><a>Language</a>
                    <ul>
                        <li><a href="{% url 'language category' 'EN' %}">English</a></li>
                        <li><a href="{% url 'language category' 'GR' %}">German</a></li>
                    </ul>
                </li>
                <li class="mobsearch">
                    <form class="mobform" method="GET" action="{% url 'search' %}">
                        <label>
                            <input type="text" name="query" value="{{ request.GET.q }}" class="mobsearchfield" placeholder="Search...">
                        </label>
                        <input type="submit" value="" class="mobsearchsubmit">
                    </form>
                </li>
            </ul>
        </nav>
        <form class="search" method="GET" action="{% url 'search' %}">
            <label>
                <input type="text" name="query" value="{{ request.GET.q }}" class="searchfield" placeholder="Search...">
            </label>
            <input type="submit" value="" class="searchsubmit">
        </form>
        <div class="toggle"><img src="{% static 'images/menu.svg' %}" alt="Menu"></div>
    </header>
    <!-- Swiper -->

    {% block content %}
    {% endblock content %}
    <!-- Swiper JS -->
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <!-- Initialize Swiper -->
    <script>
        $(document).ready(function () {
            var swiper = new Swiper('.homeslider > .swiper-container', {
                pagination: '.swiper-pagination',
                paginationClickable: true,
                preventClicks: false,
                preventClicksPropagation: false,
                effect: 'fade',
                breakpoints: {
                    320: {
                        height: 200
                    },
                    480: {
                        height: 300
                    },
                    768: {
                        height: 400
                    },
                    1024: {
                        height: 500
                    }
                }
            });
            var recentswiper = new Swiper('.recentslider > .swiper-container', {
                nextButton: '.recent-next',
                prevButton: '.recent-prev',
                slidesPerView: 8,
                paginationClickable: true,
                preventClicks: false,
                preventClicksPropagation: false,
                spaceBetween: 10,
                breakpoints: {
                    320: {
                        slidesPerView: 3,
                        spaceBetween: 5
                    },
                    480: {
                        slidesPerView: 3,
                        spaceBetween: 5
                    },
                    768: {
                        slidesPerView: 5,
                        spaceBetween: 5
                    },
                    1024: {
                        slidesPerView: 6,
                        spaceBetween: 10
                    }
                }
            });
            var mostswiper = new Swiper('.mostslider > .swiper-container', {
                nextButton: '.most-next',
                prevButton: '.most-prev',
                slidesPerView: 8,
                paginationClickable: true,
                preventClicks: false,
                preventClicksPropagation: false,
                spaceBetween: 10,
                breakpoints: {
                    320: {
                        slidesPerView: 3,
                        spaceBetween: 5
                    },
                    480: {
                        slidesPerView: 3,
                        spaceBetween: 5
                    },
                    768: {
                        slidesPerView: 5,
                        spaceBetween: 5
                    },
                    1024: {
                        slidesPerView: 6,
                        spaceBetween: 10
                    }
                }
            });
            var topswiper = new Swiper('.topslider > .swiper-container', {
                nextButton: '.top-next',
                prevButton: '.top-prev',
                slidesPerView: 8,
                paginationClickable: true,
                preventClicks: false,
                preventClicksPropagation: false,
                spaceBetween: 10,
                breakpoints: {
                    320: {
                        slidesPerView: 3,
                        spaceBetween: 5
                    },
                    480: {
                        slidesPerView: 3,
                        spaceBetween: 5
                    },
                    768: {
                        slidesPerView: 5,
                        spaceBetween: 5
                    },
                    1024: {
                        slidesPerView: 6,
                        spaceBetween: 10
                    }
                }
            });
        });
    </script>
</div>
</body>
</html>