{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="content">
        <div class="single">
            <section class="movie">
                <img width="180px" height="250px" src="{{ movie.image.url }}" alt="{{ movie.title }}">
                <ul>
                    <li>{{ movie.title }}</li>
                    <li>{{ movie.description }}</li>
                    <li> Genre:
                        {% if movie.category == 'R' %}
                            <a href="#">Romance</a>
                        {% elif movie.category == 'A' %}
                            <a href="#">Action</a>
                        {% elif movie.category == 'C' %}
                            <a href="#">Comedy</a>
                        {% elif movie.category == 'D' %}
                            <a href="#">Drama</a>
                        {% endif %}
                    </li>
                    <li>Cast: {{ movie.cast }}</li>
                    <li>Views: {{ movie.views_count }}</li>
                </ul>
            </section>
            {% if links %}
                <section class="links">
                    <ul class="wlinks">
                        {% for link in links %}
                            {% if link.link_type == 'W' %}
                                <li><a href="{{ link.link }}" target="_blank">Watch link {{ forloop.counter }}</a></li>
                            {% elif link.link_type == 'D' %}
                                <li><a href="{{ link.link }}" target="_blank">Download link {{ forloop.counter }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
            <section class="trailer">
                <h3>Trailer</h3>
                <div class="trailer_frame">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ embedded_id }}"></iframe>
                </div>
            </section>
            <section class="related">
                <h3>Related movies</h3>
                {% for rmovie in related_movies %}
                    <div class="relatemovie">
                        <a href="{% url 'detail' rmovie.slug %}"><img width="180px" height="250px" src="{{ rmovie.image.url }}" alt="{{ rmovie.title }}"></a>
                        <a href="{% url 'detail' rmovie.slug %}"><span class="relatedname">{{ rmovie.title }}</span></a>
                    </div>
                {% endfor %}
            </section>
        </div>
    </main>
{% endblock content %}