{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="content">
    <div class="single">
        <section class="trailer">
            <h3>Trailer</h3>
            <div class="trailer_frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/x73-573aWfs" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </section>
        <section class="movie">
            <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
            <ul>
                <li>{{ movie.title }}</li>
                <li>{{ movie.description }}</li>
                <li>
                    {% if movie.category == 'R' %}
                        <a href="#">Romance</a>
                    {% elif movie.category == 'A' %}
                        <a href="#">Action</a>
                    {% elif movie.category == 'C' %}
                        <a href="#">Comedy</a>
                    {% elif movie.category == 'D' %}
                        <a href="#">Drama</a>
                    {% endif %}
                </li>
                <li><a href="#">Gary Oldman</a>, <a href="#">Asa Butterfield</a></li>
                <li>{{ movie.views_count }} Views</li>
            </ul>
        </section>
        <section class="links">
            <h3>Links</h3>
            <ul class="dlinks">
                <li><a>Download</a></li>
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
            </ul>
            <ul class="wlinks">
                <li><a>Watch</a></li>
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
            </ul>
        </section>
        <section class="related">
            <h3>Related movies</h3>
            <div class="relatemovie">
                <a href="#"><img src="{% static 'images/2.jpg' %}" alt="image"></a>
                <a href="#"><span class="relatedname">John Wick</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="{% static 'images/3.jpg' %}" alt="image"></a>
                <a href="#"><span class="relatedname">Spider Man Homecoming</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="{% static 'images/4.jpg' %}" alt="image"></a>
                <a href="#"><span class="relatedname">Beauty and Beast</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="{% static 'images/5.jpg' %}" alt="image"></a>
                <a href="#"><span class="relatedname">Pirates of the Caribbean: Dead Men Tell No Tales</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="{% static 'images/6.jpg' %}" alt="image"></a>
                <a href="#"><span class="relatedname">Fifty Shades Darker</span></a>
            </div>
            <div class="relatemovie">
                <a href="#"><img src="{% static 'images/7.jpg' %}" alt="image"></a>
                <a href="#"><span class="relatedname">Transformers</span></a>
            </div>
        </section>
    </div>
</main>
{% endblock content %}